h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  color: red;
  font-style: italic;q
  text-align: center;
}

p {
  text-align: center;
  color: red;
  font-family: sans-serif;
  font-size: 25px ;
  line-height: 30px ;
}
ul {
  color: red;
}

li {
  color: blue;
  font-family: cursive;
  font-size:30px ;
}
a {
  text-align: center;
  color: hotpink;
  font-family: Helvetica;
  font-size: 30px ;
}
body{
  background-color: yellow;
}
img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
img.helpful{
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.important{
  font-weight: bold;
  font-size: 25px;
  color: purple;
  font-style: italic;
  font-family:fantasy;
}
.faboulous{
  font-family:cursive;
  color:violet
  font-size:25px;
}
.purp{
  background-color: purple;
}
.yellow{
  background-color: yellow;
}
.home{
  color: blue;
  font-size: 35px;
  font-family: fantasy;
}
.beep{
  height: 200px;
  width: 100px;
}
.boop{
  height: 200px;
  width: 500px;
}
